.archive-container {
  background: #FFF;
  min-height: 100vh;
  padding: 20px 16px;
  border-radius: 12px 12px 0 0;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
    margin-bottom: 8px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
    color: #2B303B;

  }
}
.notes-list {
  p {
    border: 1px solid #E0E4EA;
    background: #F3F5F8;
    padding: 8px;
    border-radius: 8px;
  }
}
@media (min-width: 426px) {
  .archive-container {
    padding: 24px 32px;
    border-radius: 16px 16px 0 0  ;
    h2 {
      margin-bottom: 16px;
    }
  }
}
@media (min-width: 769px) {
  .archive-container {
    padding: 0;
    border-radius: 0;
  }
}