.new-note-button {
  background: #335CFF;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 7px 11px 0px #CACFD8B2;
  padding: 15px;
  position: fixed;
  bottom: 72px;
  right: 16px;
}
 @media (min-width: 426px) {
  .new-note-button {
    padding: 23px;
    bottom: 100px;
  }
 }
  @media (min-width: 426px) {
    .desktp-new-button {
      background: #335CFF;
      color: #FFF;
      border: none;
     padding-block: 12px;
     border-radius: 8px;
     width: 100%;
     margin-bottom: 16px;
  }
 }
