*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: #F3F5F8;
  color: #0E121B;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  color: #0E121B;

}
button {
  cursor: pointer;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.container {
  position: relative;
}
.notes-section {
  background: #FFF;
  padding: 20px 16px;
  height: 100vh;
  border-radius: 8px 8px 0 0;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.2px;
    border: 1px solid #E0E4EA;
    background: #F3F5F8;
    padding: 8px;
    border-radius: 8px;
  }
}
.notes-item {
  cursor: pointer;
  padding: 8px;
  margin-bottom: 4px;
  h6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.3px;
    margin-bottom: 12px;

  }
  .tags {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4px;
    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: -0.2px;
      background: #E0E4EA;
      padding: 2px 6px;
      border-radius: 4px;
    }
  }
  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.2px;
    color: #2B303B;
  }
}
hr {
  height: 1px;
  border: none;
  background-color: #E0E4EA;
}

input {
  outline: none;
}

.dark{
  background: #232530;
  .header-section {
    background: #232530;
  }
  .notes-section, .search-section, .archive-container, .tags-container, .settings-container, .theme-container, .detail-container, .font-container, .password-container, .selected-tag-container {
    background: #0E121B;
  }
  .notes-section p {
    color: #FFF;
    background: #232530;
    border-color: #2B303B;
  }
  .selected-tag-container {
    .go-back {
      color: #FFF;
    }
    p {
      color: #CACFD8;
    }
  }
  .tags-item {
    border-bottom-color: #232530;
    a {
      color: #CACFD8;
    }
  }
  .settings-list {
    border-bottom-color: #232530;
  }
  .archive-container p {
    color: #E0E4EA;
  }
  .theme-container a, .theme-container p, .font-container a, .font-container p, .password-container a, .password-container p    {
    color: #CACFD8;
  }
  .theme-item, .font-item {
    border-color: #232530;
    >img {
      border-color: #2B303B;
      background: #353c4d;
    }
    span {
      color: #CACFD8;
    }
  }
  .action-bar {
    border-color: #232530;
  }
  .action-bar .go-back, .action-bar button {
    color: #CACFD8;
  }
  input, textarea {
    background: inherit;
    color: #FFF;
  }
  .note-input h6 {
    color: #CACFD8;
  }
  .note-input:last-child input {
    background: #0E121B;
    color: #CACFD8;
  }
  h2, h6 {
    color: #FFF;
  }
  hr {
    background: #232530;
  }
  .notes-item span {
    color: #CACFD8;
  }
  .notes-item .tags span {
    background: #525866;
  }
  .navigation-container {
    box-shadow: 0px -5px 6px 0px #00000080;
border-top: 1px solid #232530;
background: #0E121B;
  }
  .new-note-button {
    box-shadow: 0px 7px 11px 0px #000000B2;

  }
  .active {
    background: #2B303B !important;
  }
  .search-input {
    border: 1px solid #525866;
    box-shadow: 0px 1px 2px 0px #0A0D1408;
    background:#0E121B url(/img/search-icon-light.svg) 16px 50% no-repeat;;
    color: #FFF;
  }
  p {
    color: #CACFD8;
  }

}

@media (min-width: 426px) {
  .notes-section {
    padding: 24px 32px;
    border-radius: 16px 16px 0 0 ;
  }
}
@media (min-width: 769px) {
  body {
    background: #FFF;
  }
  .container {
    display: grid;
    grid-template-columns: 272px 1fr 2fr 1fr;
    grid-template-rows: 81px  auto auto;
    grid-template-areas:
    "header bar bar bar"
    "header notes detail detail"
    "header notes detail detail"
    "header notes detail detail"
    ;
  }
  .header-bar {
    grid-column: 3 span;
    grid-area: bar;
    display: flex;
    align-items: center;
    padding: 17px 32px;
    border-bottom: 1px solid #E0E4EA;
    h2 {
      margin-right: auto;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.5px;

    }
    input {
      padding: 13px;
      padding-left: 44px;
      border-radius: 8px;
      border: 1px solid #CACFD8;
      margin-right: 16px;
      background: url(/img/search-icon-light.svg) no-repeat 16px;
      min-width: 300px;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      letter-spacing: -0.2px;
    }
    button {
      background: inherit;
      border: none;
    }
  }
  .notes {
    grid-area: notes;
    padding: 20px 16px 20px 32px;
    border-right: 1px solid #E0E4EA;
  }
  .note-detail {
    grid-area: detail;
  }
  /* .btn-column {
    grid-area: btn;
    padding: 20px 16px;
    border-left: 1px solid #E0E4EA;
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    button {
      display: flex;
      align-items: center;
      background: inherit;
      border: 1px solid #CACFD8;
      padding: 12px 16px;
      border-radius: 8px;
      gap: 8px;
      >img {
        width: 20px;
        height: 20px;
      }
    }
  } */
  .header-container {
    grid-area: header;
    height: 100vh;
    border-right: 1px solid #E0E4EA;
    padding: 12px 16px;
    /* width: 272px; */
    >img {
      padding-block: 12px;
  }
  }
  .settings-box {
    grid-column: 3 span;
    display: flex;
  }
  .settings-container{
    width: 258px;
  }
}