.tags-container {
  padding: 20px 16px;
  background: #FFF;
  border-radius: 12px 12px 0 0;

  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }
}
.tags-list {
  margin-top: 16px;
}
.tags-item {
  padding: 11px 0 ;
  border-bottom: 1px solid #E0E4EA;

}
.tags-item  a {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.2px;
  color: #2B303B;


  >div {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
      width: 20px;
      height: 20px;
    }

  }
}
@media (min-width: 426px) {
  .tags-container {
    padding: 24px 32px;
    border-radius: 16px 16px 0 0;
  }
}
@media (min-width: 769px) {
  .tags-container {
    background: inherit;
    padding: 0;
    padding-top: 8px;
    border-top: 1px solid #E0E4EA;
    border-radius: 0;
    margin-top: 8px;
    h2 {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.2px;
      color: #717784;
      padding-left: 8px;
    }
  }
  .tags-list {
    margin-top: 8px;
    button {
      background: inherit;
      border: none;
      >div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    .tag-name h6 {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.2px;
 
    }
    .active {
      background: #F3F5F8;
      border-radius: 8px;
      .tag-name h6 {
        color: #335CFF;
      }
    }
  }
  .tags-item {
    border: none;
    padding: 12px;
  }
}