.settings-container {
  padding: 20px 16px;
  background: #FFF;
  min-height: 100vh;
  border-radius: 12px 12px 0 0;

  h2 {
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.5px;
  }
}

.settings-list {
  margin-top: 16px;
  border-bottom: 1px solid #E0E4EA;
  padding-bottom: 8px;
  margin-bottom: 8px;

  a, button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 10px;

    h6 {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: -0.2px;
    }
  }
}

.logout {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-block: 10px;
  border: 0;
  background: inherit;
  h6 {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.2px;
  }

}

@media (min-width: 426px) {
  .settings-container {
    padding: 24px 32px;
    border-radius: 16px 16px 0 0;
  }
}
@media (min-width: 769px) {
  .settings-container {
    padding: 20px 16px 0 32px;
    border-radius: 0;
    border-right: 1px solid #E0E4EA;
  } 
  .settings-list {
    margin: 0;
    button {
      background: inherit;
      border: 0;
      width: 100%;
      border-radius: 6px;
      padding: 8px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .active {
      background: #F3F5F8 url(/img/right-icon.svg) no-repeat right 10px center;
      
    }
  }
}